<div class="row">
    <div class=" col-md-6 col-md-offset-3 col-xs-12">
        <div class=" bnc-block">
            <section>
                <div class="title">
                    HOW TO PLAY
                </div>
                <div class="subtitle">Bulls And Cows For Dummies</div>
            </section>
            <div class="border">
            </div>
            <p class=" howto">
                <strong>Goal:</strong> To  successfully decode the computer's secret number in the shortest time.
                <br/>
                <br/>
                <strong>Setup:</strong> The computer writes a three to five-digit number.
                The digits are all be different. (For example, 4729 would be legal, but 4724 would not be legal.)
                <br/>
                <br/>
                <strong>Gameplay:</strong> In turns, the player try to guess the computer's number. The computer responds by announcing the number of matches. A digit which is in the number but not announced in the correct position is a "cow." A digit which is in the number and is announced in the correct position is a "bull."
            </p>
        </div>
    </div>
</div>


