<table class="table table-bordered">
    <tr>
        <th class="text-center">
            User
        </th>
        <th class="text-center">
            Created on
        </th>
    </tr>
    <tr ng-repeat="commit in vm.commits | fil" ng-class-even="'even-class'" ng-class-odd="'odd-class'">
        <td class="text-center">
            <a href="#/commits/{{commit.Id}}">{{commit.UserName}}</a>
        </td>
        <td class="text-center">
            {{commit.CreatedOn | date}}
        </td>
    </tr>
</table>
