
<!-- MAIN GAME SECTION -->
<div class="row">
    <div class=" col-md-3">
        <div class=" bnc-block display">
            <header>
                <div class="title timer">Time: {{vm.time}}</div>
                <div class="subtitle">{{vm.code | uppercase}}</div>
                <img src="/img/blackboard.png" />
            </header>
            <section>
                <div class="title">
                    PROGRESS:
                </div>
                <ul>
                    <li ng-repeat="(key, row) in vm.progress">
                        <div class="subtitle">
                            {{row.index}} : {{row.code | uppercase}} : {{row.result}}
                        </div>
                    </li>
                </ul>
            </section>
            <p></p>
        </div>
    </div>
    <div class=" col-md-3">
        <div class=" bnc-block">
            <section>
                <div class="keyboard">
                    <div ng-repeat="btn in vm.keyboard">
                        <button ng-disabled="btn.disabled" ng-value="btn.value" ng-click="vm.input(btn.value)">{{btn.value | uppercase}}</button>
                    </div>
                    <br/>
                    <button ng-click="vm.guess(vm.code)" ng-disabled="vm.submit.disabled" class="control">Guess</button>
                    <button ng-click="vm.clear()" class="control">Clear</button>
                </div>
            </section>
            <p></p>
        </div>
    </div>
</div>
